*
{
	margin:0px;
}


/*header*/
body header
{
	display:flex;
	
}

figure
{
	width:26%;
	background-color:#EBDA13;
	text-align:center;
	padding-top: 30px;
	padding-bottom: 20px;
}

img
{
	border-radius: 50%;
}

header div
{
	padding: 40px 0px 40px 90px;
	
	flex-grow: 1;
}


strong
{
	color: #1F85DE;
}

h2
{
	font-size: 20px;
}


/*partie jaune*/
main
{
	display:flex;
	 

}

main > div:first-child 
{
	
	background-color:#EBDA13;
	width:26%;
	display:flex;
	flex-direction: column;
	
}
  

main > div:first-child > section > h3  
{
	background-color:grey;
	text-align: center;

}

main > div:first-child > section > p, address 
{
	padding: 20px 25px 0px 25px;
	
}

main > div:first-child > section > p:last-child 
{
	padding-bottom: 20px;
	
}

main > div:first-child > section:nth-child(2) 
{
	flex-grow: 1;
}

main > div:first-child > section:last-child > span 
{
	font-size:24px;	
	padding:20px 0px 10px 30px;
}

/*partie blanche*/

main > div:nth-child(2)
{
	width: 70%;


}

main > div:nth-child(2) > section:not(:last-child)
{
	display:flex;
	flex-direction: column;
	
}

article
{
	display:flex;
	margin-bottom:2rem;
}

article > div:first-child
{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	position:relative;
}

article.active > div:first-child:after
{
	font-family: "font awesome 5 free";
	content: "\f192";
	position:absolute;
	top:0;
	left:0;
}

article.active > div:first-child:after
{
	content: "\f192"; 
	color: #EBDA13;
	font-size:13px;
}

article:not(.active) > div:first-child:after
{
	font-family: "font awesome 5 free";
	content: "\f111";
	position:absolute;
	top:0;
	left:0;
}

article:not(.active) > div:first-child:after
{
	content: "\f111";
	font-weight:bold;

}



article > div:first-child > span
{
	margin-left:2rem;
	margin-bottom:.5rem;
}

article span
{
	margin-right: 1.5rem;	
}

article
{
	margin-top: 30px;

}



article div:first-child
{
	padding-right: 10rem;
}


main > div:nth-child(2) > section > h3:first-child
{
	border-bottom: 1px solid #EBDA13;
	padding-bottom: .5rem;
	margin-left: 90px;
}

main > div:nth-child(2) > section >  article div, div::after
{
	padding-left: 90px;
}

main > div:nth-child(2) > section > h3 span
{
	margin-right: 3rem;
}

div:last-child > section > h3 span
{
	font-size:25px;
	color: #EBDA13;
	
}


main > div:nth-child(2) > section:last-child >div 
{
	display: flex;

	height: auto;
	padding-left: 90px;
	
}

main > div:nth-child(2) > section:last-child > div > article
{
	display: flex;
	flex-direction: column;

	width: 30%;
}

main > div:nth-child(2) > section:last-child > div > article:first-child
{
	padding-right: 90px;
}

div::after
{
	width: 30%;
	font-size:10px;
	color: #EBDA13;

}

 

/*responsive extra large*/

@media screen and (min-width:1200px)
{

	body
	{
		max-width: 1100px;
	}

	main
	{
		width:auto;
	}
		
	main > div:first-child > section:last-child 
	{
		text-align: center;
	}
}


/*responsive large*/

@media all and (min-width:992px) and (max-width:1199.98px)
{
	main
	{
		width:auto;
	}
	
	

	main > div:first-child > section:last-child 
	{
		text-align: center;
	}
}


/*responsive médium*/

@media all and (min-width:768px) and (max-width:991.98px)
{
	
	main
	{
		width:auto;
		display: flex;
	}
	

	main > div:first-child > section:last-child 
	{
		text-align: center;
	}

	main > div:first-child > section:last-child > span 
	{
		font-size: 20px;
		padding:18px 0px 18px 18px;
	}

	

	article div:first-child
	{
		padding-right: 0rem;
	}

	article aside
	{
		padding-right: 0rem;
	}


	
	
}


/*responsive small*/

@media screen and (min-width:576px) and (max-width:767.98px)
{
	main
	{
		width:auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	main > div:first-child 
	{
		width: auto;
		height: auto;
		display:flex; 
		flex-direction: column;
		
	}

	main > div:last-child 
	{
		width: auto;
		height: auto;
		
	}


	article div:first-child
	{
		padding-right: 10rem;
	}

	article aside
	{
		padding-right: 0rem;

	}

	main > div:nth-child(2) > section > h3:first-child
	{
		
		text-align: center;
	}

	main div:first-child > section
	{
		text-align: center;
	}

	main > div:nth-child(2) > section >  article div, div::after
	{
		padding-left: 50px;
		padding-right: 50px;
	}

	
	main div:first-child 
	{
		order:2;
	}

	article.active > div
	{
		order:2;
	}

	article:not(.active) > div
	{
		order:2;
	}

	figure, img
	{
		display:none;
	}

	header div
	{
		text-align: center;
	}

	main > div:first-child 
	{
		background-color: white;
	}

	main > div:last-child > section > h3 span
	{
		display: none;
	}



	main > div:first-child > section h3
	{
		background-color: #EBDA13;

	}

	main > div:first-child > section:last-child > span 
	{
		
		font-size: 35px;
		padding-left: 50px;
		padding-bottom: 30px;
	}

	main > div:last-child > section > h3:first-child
	{
		background-color: #EBDA13;
		margin:0px;
		padding-bottom: 0px;

	}

	address
	{
		margin-top: 30px;
	}

	aside
	{
		width: 60%;
	}

	aside:first-child, aside:last-child
	{
		padding-left: 50px;
	}

	main > div:first-child > section > address, span:first-child
	{
		padding-top: 0%;
	}

}


/*responsive extra small*/

@media screen and (max-width:575.98px)
{
	header
	{
		text-align: center;
	}

	main
	{
		width:auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	main > div:first-child 
	{
		width: auto;
		height: auto;
		display:flex; 
		flex-direction: column;
		
	}

	main div:first-child 
	{
		order:2;
	}

	article.active > div
	{
		order:2;
	}

	article:not(.active) > div
	{
		order:2;
	}


	main > div:last-child 
	{
		width: auto;
		height: auto;

	}

	main > div:last-child > section > h3 span
	{
		display: none;
	}
	
	main div:last-child > section > article   
	{
		display: flex;
		flex-direction: column; 
		text-align: center;
	}

	div::after
	{
		display: none;
	}

	main div:last-child > section span
	{
		margin: 0px 0px 0px 0px;
	}

	main > div:last-child > section > article:last-child
	{
		border-top: 6px groove #1F85DE;
		padding-top: 50px;
		margin:0px 90px 0px 90px;
		padding-bottom: 40px;
	} 

	
		
	main div:last-child > section:nth-child(3)
	{
		margin-bottom: 30px;
	}

	main div:last-child > section > article > div:nth-child(1)
	{
		margin-bottom: 15px;
	}

	main div:last-child > section > article > div:nth-child(2) > p
	{
		width: auto;
		
	}

	main div:last-child > section:nth-child(4) > article > aside
	{
		text-align: center;
		padding: 0px;
	}

	

	main div:last-child > section:nth-child(3) > article:nth-child(3) span:first-child
	{
		margin-top: 30px;
	}

	article div:first-child
	{
		padding-right: 10rem;
	}

	article aside:nth-child(2) > h4:first-child
	{
		
		margin-top: 30px;
	}

	main > div:nth-child(2) > section > h3:first-child
	{
		
		text-align: center;
	}

	main div:first-child > section
	{
		text-align: center;
	}

	main > div:nth-child(2) > section >  article div, div::after
	{
		padding-left: 50px;
		padding-right: 50px;
	}

	address
	{
		margin-top: 30px;
	}


	figure, img
	{
		display:none;
	}

	header div 
	{
		text-align: center;
	}

	main > div:first-child 
	{
		background-color: white;
	}

	main > div:first-child > section h3
	{
		background-color: #EBDA13;
	}

	main > div:first-child > section:last-child > span 
	{
		
		font-size: 35px;
		padding-left: 50px;
		padding-bottom: 30px;
	}

	main > div:last-child > section > h3:first-child
	{
		background-color: #EBDA13;
		margin:0px;
		padding-bottom: 0px;

	}

	
	main > div:first-child > section > address, span:first-child
	{
		padding-top: 0%;
	}

	main > div:nth-child(2) > section:last-child > div 
{
	display: flex;
	flex-direction: column;
	width: auto;
	text-align: center;
}

	main > div:nth-child(2) > section:last-child > div > article
	{
		width: 70%;
	}

	main > div:nth-child(2) > section:last-child > div > article:last-child
	{
		border-top: 6px groove #1F85DE;
		padding-top: 50px;
	}

}
	












